#navbar .logo {
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li {
    float:none;
}
#navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
}

.main-container {
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.5),
		rgb(55, 43, 230, 0.15)
	);
	padding-bottom: 0.5rem;
	margin: 0rem;
	backdrop-filter: blur(0.3rem);
}

/* Showcase */
#showcase {
    height: 100%;
}
#showcase .showcase-content {
    padding-top: 70px;
    padding-bottom: 30px;
}

#showcase .showcase-content h1{
    font-size: 2.8rem;
}

/* Home Info */
/* #home-info{
    display: flex;
    flex-direction: row;
} */
#home-info .info-img{
    display: none;
}
#home-info .info-content {
    float: none;
    width: 100%;
}
#home-info .info-content h2 {
    padding-top: 2rem;
    font-size: 1.5rem;
    /* border: /red solid 5rem; */
}
#home-info .info-content p{font-size: 1rem;}

/* Boxes */
.box {
    float: none;
    width: 100%;
}

/* About page */
#about-info .info-right, 
#about-info .info-left {
    float: none;
    width: 100%;
}
#about-info .info-right {
    margin-top: 30px;
}

.l-heading {
    text-align: center;
}

/* Contact */
#contact-info .box {
    border-bottom: #444 dotted 1px;
}
#home-info .info-content .btn {
    margin-top: -30px;
}
#home-info .info-content .etc {
    display: none;
}
#testimonials h2 {
    color: rgb(3, 3, 3);
    text-align: center;
    padding-bottom: 5px;
}
#testimonials .twitter-timeline{padding: 0;margin-right: 0;margin-left: 0; width: 100%;}
